#containerbox{
    display: flex;
    width: 600px;
    height: 250px;
    border: 5px solid rgb(198, 18, 18);
    background-color: bisque;
    flex-direction: row;
}
.box:nth-child(1),
.box:nth-child(3){
    background-color:chocolate ;
}
.box:nth-child(2),
.box:nth-child(4){
    background-color:rgb(233, 155, 21) ;
}

.box{
    width: 25%;
    height: auto;
    border: 1px solid burlywood;
    
}
img{
    height: 150px;
    width: 150px;
}